<div id="blockcart-modal" data-close-on-click="true">
  <div>
    <section>
      <h1>{l s='Product Successfully Added to Your Shopping Cart' d='Shop.Theme.Checkout'}</h1>
      {$product.name}
    </section>
  </div>
</div>
