.module-item-wrapper-grid {
  @extend .card;
  @extend .card-block;

  border: none;
  border-radius: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  min-height: 415px;

  .module-item-heading-grid {
    position: relative;
    text-align: center;
    .module-logo-thumb-grid {
      text-align: center;
      width: 100%;
      > img {
        max-width: $module-logo-size;
        max-height: $module-logo-size;
      }
      width: $module-logo-size;
      height: $module-logo-size;
      text-align: center;
      margin: 0 auto;
      border-radius: 0;
    }

    .module-name-grid {
      @extend .card-title;
      position: relative;
      text-align: center;
      font-weight: bolder;
      margin: 1rem 0 .5rem;
      min-height: 40px;
    }

    .module-version-author-grid {
      @extend .card-title;

      text-align: center;
      font-weight: lighter;
      color: $gray-medium;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      b {
        font-weight: lighter;
      }
    }
  }

  .module-container {
    text-align:center;
  }

  .module-star-ranking-grid {
    @include stars($ps-stars);
  }

  .module-quick-action-grid {
    display: inline;
    color: $gray-dark;
    .module-actions {
      position: absolute;
      bottom: 10px;
      width: 100%;
      left: 0;
    }
    .light-button {
      height: 32px;
      font-size: 0.625rem;
      padding: 0.5rem;
      width: 92%;
      float: none;
      margin: 0 auto;
    }
    .onclick {
      margin-bottom: -7px;
    }
  }

  .module-quick-description-grid {
    margin: 15px 0;
    text-align: center;
    min-height: 100px;
    .module-read-more-grid {
      display: inline-block;
      .module-read-more-grid-btn {
        font-weight: bold;
      }
    }
  }
}

/**
* Marketplace Module card
**/

.module-addons-item-grid {

  height: 258px;
  margin-bottom: 0.75rem;
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  .module-addons-item-wrapper-grid {
    @extend .module-item-wrapper-grid;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .module-icon-addons-exit-grid {
      display: block;
      padding-bottom: 20px;
    }
  }
}


/**
* Facebook-like module cards
**/

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

.module-placeholders-wrapper {
  .timeline-item-wrapper {
    @extend .module-item-wrapper-grid;
    height: 250px;

    .animated-background {

      -webkit-animation-duration: 1.75s;
      animation-duration: 1.75s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: placeHolderShimmer;
      animation-name: placeHolderShimmer;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      background: #f6f7f8;
      background: #eeeeee;
      background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
      background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
      background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
      -webkit-background-size: 800px 104px;
      background-size: 800px 104px;
      height: 96px;
      position: relative;
      .background-masker {
        background: #fff;
        position: absolute;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
  }
}

.outlined .background-masker {
  border: 1px solid #ddd;
}
.outlined:hover .background-masker {
  border: none;
}
.outlined:hover .background-masker:hover {
  border: 1px solid #ccc;
  z-index: 1;
}
.background-masker.header-top, .background-masker.header-bottom, .background-masker.subheader-bottom {
  top: 0;
  left: 40px;
  right: 0;
  height: 10px;
}
.background-masker.header-left, .background-masker.subheader-left, .background-masker.header-right, .background-masker.subheader-right {
  top: 10px;
  left: 40px;
  height: 8px;
  width: 10px;
}
.background-masker.header-bottom {
  top: 18px;
  height: 6px;
}
.background-masker.subheader-left, .background-masker.subheader-right {
  top: 24px;
  height: 6px;
}
.background-masker.header-right, .background-masker.subheader-right {
  width: auto;
  left: 300px;
  right: 0;
}
.background-masker.subheader-right {
  left: 230px;
}
.background-masker.subheader-bottom {
  top: 30px;
  height: 10px;
}
.background-masker.content-top, .background-masker.content-second-line, .background-masker.content-third-line, .background-masker.content-second-end, .background-masker.content-third-end, .background-masker.content-first-end {
  top: 40px;
  left: 0;
  right: 0;
  height: 6px;
}
.background-masker.content-top {
  height: 20px;
}
.background-masker.content-first-end, .background-masker.content-second-end, .background-masker.content-third-end {
  width: auto;
  left: 380px;
  right: 0;
  top: 60px;
  height: 8px;
}
.background-masker.content-second-line {
  top: 68px;
}
.background-masker.content-second-end {
  left: 420px;
  top: 74px;
}
.background-masker.content-third-line {
  top: 82px;
}
.background-masker.content-third-end {
  left: 300px;
  top: 88px;
}
.module-placeholders-wrapper {
  margin-top: 76px;
}

.modal-read-more {
  .modal-dialog {
    max-width: none;
  }
}

.module-modal-footer {
  display: block;
}
