{% extends '@MailThemes/classic/components/layout.html.twig' %}

{% block content %}
<tr>
    <td align="center" class="titleblock" style="padding:7px 0">
        <font size="2" face="{{ languageDefaultFont }}Open-sans, sans-serif" color="#555454">
            <span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px">{{ 'Hi {firstname} {lastname},'|trans({}, 'Emails.Body', locale) }}</span>
        </font>
    </td>
</tr>
<tr>
    <td class="space_footer" style="padding:0!important">&nbsp;</td>
</tr>
<tr>
    <td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0">
        <table class="table" style="width:100%">
            <tr>
                <td width="10" style="padding:7px 0">&nbsp;</td>
                <td style="padding:7px 0">
                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                        {% if templateType == 'html' %}

                            <p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px">
                                {{ 'Order {order_name}'|trans({}, 'Emails.Body', locale) }}&nbsp;-&nbsp;{{ 'Order edited'|trans({}, 'Emails.Body', locale)|raw }}
                            </p>
            
{% endif %}
                        <span style="color:#777">
                            {{ 'Your order with the reference [1]{order_name}[/1] has been modified.'|trans({'[1]': '<span><strong>', '[/1]': '</strong></span>'}, 'Emails.Body', locale)|raw }}
                        </span>
                    </font>
                </td>
                <td width="10" style="padding:7px 0">&nbsp;</td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="space_footer" style="padding:0!important">&nbsp;</td>
</tr>
<tr>
    <td class="linkbelow" style="padding:7px 0">
        <font size="2" face="Open-sans, sans-serif" color="#555454">
            <span>
                {{ 'You can review your order and download your invoice from the <a href="{history_url}">"Order history"</a> section of your customer account by clicking <a href="{my_account_url}">"My account"</a> on our shop.'|trans({}, 'Emails.Body', locale)|raw }}
            </span>
        </font>
    </td>
</tr>
<tr>
    <td class="linkbelow" style="padding:7px 0">
        <font size="2" face="Open-sans, sans-serif" color="#555454">
            <span>
                {{ 'If you have a guest account, you can follow your order via the <a href="{guest_tracking_url}?id_order={order_name}">"Guest Tracking"</a> section on our shop.'|trans({}, 'Emails.Body', locale)|raw }}
            </span>
        </font>
    </td>
</tr>
{% endblock %}
