.header-toolbar {
  position: fixed;
  background: #ffffff;
  top: $size-header-height;
  left: $size-navbar-width;
  right: 0;
  z-index: 990; // popup menus' z-index is 1000, so it has to be just below that
  border-bottom: 0.0625rem solid $color-separator;

  transition: left .5s ease; // transition when collapsing the nav menu

  .mobile & {
    top: $size-header-height + ($header-mobile-padding-y * 2);
  }

  @include media-breakpoint-down(md) {
    left: 0;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 0.3rem;
    top: 3.5rem;
  }

  // page title
  .title {
    padding: 0.3125rem;
    padding-left: 0;
    font-size: 1.625rem;
    font-weight: normal;
    margin-bottom: 0;
    float: left;
    @include media-breakpoint-down(sm) {
      float: none;
    }
  }

  // breadcrumb
  nav > ol {
    padding-left: 0;
  }

  // toolbar buttons
  .toolbar-icons {

    @include media-breakpoint-down(sm) {
      overflow-x: auto;
      float: none;
    }

    > .wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;

      @include media-breakpoint-down(sm) {
        justify-content: flex-start;
      }

      a + a {
        margin-left: $grid-gutter-width / 2;
      }
    }
  }

  // bottom spacing for title & toolbar row
  .title-row {
    @include clearfix;
    margin-bottom: $grid-gutter-width / 2;
  }
}

.page-head-tabs {

  background: #fff;

  > ul {
    border-bottom: 0;
  }

  .tab {
    position: relative;

    .notification-container {
      @include notification_container(1.5rem)
      position: absolute;
      bottom: -5px;
      right: 15px;

      .notification-counter {
        @include notification_counter();
        top: -1.75rem;
        right: -0.9375rem;
      }
    }
  }

}

.page-sidebar-closed:not(.mobile) {
  .header-toolbar {
    left: $size-navbar-width-mini;
  }
}
