.kpi-container {
  position: relative;
  text-decoration: none;
  background: $gray-soft;
  padding-top: .9375rem;
  padding-bottom: .9375rem;
  text-align: center;
  display: block;

  &:hover {
    text-decoration: none;
  }
}

.kpi-refresh {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.kpi-content {
  position: relative;
  text-align: left;
  padding-left: 40px;

  > .material-icons {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.25rem;
    color: $primary;
  }

  &.-color2 {
    > .value,
    > .material-icons {
      color: $danger;
    }
  }

  &.-color3 {
    > .value,
    > .material-icons {
      color: $success;
    }
  }

  > .title,
  > .subtitle,
  > .value {
    font-size: 0.75rem;
    padding-left: .125rem;
    color: $gray-dark;
  }
  
  > .title {
    display: inline-block;
  }
  
  > .subtitle {
    text-transform: uppercase;
    color: $gray-medium;
    display: block;
  }
  > .value {
    font-size: 1.25rem;
    color: $primary;
    display: block;
  }
}

.container-fluid {
  > .kpi-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
