/**
 * 2007-2020 PrestaShop and Contributors
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License 3.0 (AFL-3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    PrestaShop SA <contact@prestashop.com>
 * @copyright 2007-2020 PrestaShop SA and Contributors
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License 3.0 (AFL-3.0)
 * International Registered Trademark & Property of PrestaShop SA
 */
#main-div #recommended-modules-container .alert-addons,
#main-div #modules_list_container_tab_modal .alert-addons {
  border-color: #25b9d7;
}

#main-div #recommended-modules-container .alert-addons:before,
#main-div #modules_list_container_tab_modal .alert-addons:before {
  color: #25b9d7;
  background-color: #dff5f9;
  content: "\E88F";
}

#main-div #modules_list_container_content .img-thumbnail {
  max-width: 56px;
  width: 56px;
}

#content.bootstrap .nav-tabs .nav-item.show .nav-link,
#content.bootstrap .nav-tabs .nav-item.active .nav-link {
  border-top: 3px solid #25b9d7;
}

#content.bootstrap .nav-tabs .nav-item.show .nav-link,
#content.bootstrap .nav-tabs .nav-link.active {
  color: #363a41;
  background-color: #fff;
  border-color: #25b9d7;
}

#content.bootstrap .nav-tabs,
#content.bootstrap .nav-tabs .nav-link {
  border: none;
}

#content.bootstrap #modules_list_container_content .img-thumbnail {
  max-width: 56px;
  width: 56px;
}

#content.bootstrap #modules_list_container_content .btn {
  border-radius: 0;
}

#content.bootstrap #modules_list_container_content .btn .caret {
  border-top-color: #25b9d7!important;
}

#content.bootstrap #modules_list_container_content .btn-outline-primary {
  color: #25b9d7;
  background-color: transparent;
  background-image: none;
  border-color: #25b9d7;
}

#content.bootstrap #modules_list_container_content .btn-outline-primary:hover {
  color: #fff;
  background-color: #3ed2f0;
  border-color: #3ed2f0;
}

#content.bootstrap #modules_list_container_content .btn-block {
  padding-left: 8px;
  padding-right: 8px;
}

#content.bootstrap #modules_list_container_content .btn-group {
  display: inline-flex;
}

#content.bootstrap #modules_list_container_content .dropdown-item {
  display: block;
  width: 100%;
  padding: 5px;
  clear: both;
  font-weight: 400;
  color: #6c868e;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

#content.bootstrap #modules_list_container_content .dropdown-item:focus,
#content.bootstrap #modules_list_container_content .dropdown-item:hover {
  color: #25b9d7;
  text-decoration: none;
  background-color: #fff;
}

#content.bootstrap #modules_list_container_content button.spinner {
  color:#fff;
  background-color:#fff;
  width:40px;
  width:2.5rem;
  height:40px;
  height:2.5rem;
  border-radius:2.5rem;
  border-right-color:#25b9d7;
  border-bottom-color:#25b9d7;
  border-width:3px;
  border-width:.1875rem;
  border-style:solid;
  font-size:0;
  outline:none;
  display:inline-block;
  border-left-color:#bbcdd2;
  border-top-color:#bbcdd2;
  animation:rotating 2s linear infinite;
}

#content.bootstrap #tab_modules_list_installed > tbody > tr > td:nth-child(2),
#content.bootstrap #tab_modules_list_not_installed > tbody > tr > td:nth-child(2) {
  width: 90%;
}

#content.bootstrap .card {
  position: relative;
  display: block;
  background-color: #fff;
  border: 1px solid #dbe6e9;
  border-radius: 5px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.06);
}

#content.bootstrap .card-body {
  padding: 20px;
}

#content.bootstrap .card-body .img-responsive {
  display: inline;
  max-width: 100%;
}

#content.bootstrap .mt-3 {
  margin-top: 15px;
}

@media (min-width: 768px) {
  #content.bootstrap #modules_list_container .modal-dialog {
    width: 680px;
  }
}
