<div class="bootstrap" id="comparisonBlock">
    <div class="panel">
        <div class="panel-heading">
            {{ 'Version comparison'|trans }}
        </div>
        <p>
            <b>{{ 'PrestaShop Original version'|trans }}:</b><br>
            <span id="checkPrestaShopFilesVersion">
                <img id="pleaseWait" src="{{ psBaseUri }}img/loader.gif"/>
            </span>
        </p>
        <p>
            <b>{{ 'Differences between versions'|trans }}:</b><br>
            <span id="checkPrestaShopModifiedFiles">
                <img id="pleaseWait" src="{{ psBaseUri }}img/loader.gif"/>
            </span>
        </p>
    </div>
</div>
