.pickr {
    z-index: initial !important;
}

.pickr button.pcr-button {
    width: 70%;
    border: 1px solid #BBB;
    height: 30px;
    border-radius: 5px;
}

.pcr-app .pcr-interaction input {
    font-size: 12px !important;
    width: 26% !important;
}

.pcr-app .pcr-interaction .pcr-save {
    background-color: #3bb7d7 !important;
    height: 31px !important;
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}
